@media screen and (min-width: 775px) {

    body {
        background: var(--Very_Dark_Blue) url(images/bg-desktop.png) no-repeat bottom;
        background-size: 100% 52%;
    }
    
    .card {
        width: 90vw;
    }
    
    .info {
        width: 100%;
        grid-template-columns: 36% 62%;
        align-items: baseline;
    }

    .one {
        gap: 35px;
        padding: 45px;
    }

    .two {
        gap: 23px;
        padding: 35px;
        text-align: left;
    }

    .data-left {
        left: 55%;
        top: -30px;
        width: 158px;
        height: 58px;
        padding: 14px 1px;
        border-bottom-right-radius: 0;
    }

    .data-left::after {
        position: absolute;
        content: '';
        bottom: -32px;
        right: 0;
        border-right: 40px solid white;
        border-bottom: 34px solid transparent
    }
}

@media screen and (min-width: 930px ) {
    .data-left {
        left: 62%;
    }

}
@media screen and (min-width: 1060px ) {
    .card {
        width: 1000px;
    }
    
    .data-left {
        left: 68%;
    }

}